<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <!-- <ion-col class="ion-padding-top ion-padding-top">
        <ion-item lines="none">
          <img style="margin: 0 auto;margin-top: 8rem;" src="../../assets/logo/logo.png">
        </ion-item>
      </ion-col> -->
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="stacked">Usuario*</ion-label>
          <ion-input 
          [(ngModel)]="userLoginDto.username" 
          clearInput 
          type="text" 
          placeholder="Ingrese su usuario" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-label position="stacked">Contraseña*</ion-label>
          <ion-input 
          [(ngModel)]="userLoginDto.password" 
          clearInput 
          type="password" 
          placeholder="Ingrese su contraseña" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-button color="primary" (click)="login()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
